---
import { getCollection } from 'astro:content';

import Layout from '@layouts/Layout.astro';
import BlogHeader from '@components/BlogHeader.astro';
import Tags from '@components/Tags.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}

const { post } = Astro.props;

const { data, slug } = post;

const { Content } = await post.render();
---

<Layout title={data.title}>
	<article transition:name={slug}>
		<BlogHeader title={data.title} date={data.pubDate} />
		<Content />
		<a href="https://notbyai.fyi/">
			<i class="not-by-ai"></i>
		</a>
		<Tags tags={data.tags} />
	</article>
</Layout>
